@import "tailwindcss";

@theme {
    /* Colors */
    --color-primary: #0021f3;
    --color-primary-dark: #0018b3;
    --color-primary-light: #334df5;

    --color-disagree: #c10007;


    --color-brutalist-black: #000000;
    --color-brutalist-white: #ffffff;

    --color-brutalist-gray-50: #f9fafb;
    --color-brutalist-gray-100: #f3f4f6;
    --color-brutalist-gray-200: #e5e7eb;
    --color-brutalist-gray-300: #d1d5db;
    --color-brutalist-gray-400: #9ca3af;
    --color-brutalist-gray-500: #6b7280;
    --color-brutalist-gray-600: #4b5563;
    --color-brutalist-gray-700: #374151;
    --color-brutalist-gray-800: #1f2937;
    --color-brutalist-gray-900: #111827;

    --color-glow-agree: #0021f3;
    --color-glow-disagree: #ff0000;

    /* Typography */
    --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
    --font-industrial: "Space Grotesk", monospace;

    --font-weight-brutal-bold: 800;
    --letter-spacing-tighter-industrial: -0.05em;

    /* Effects */
    --shadow-brutal: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    --shadow-brutal-hover: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden; /* This hides all scrollbars */
    overflow-y: scroll;
}




#app {
    width: 95%;
    height: 100%;
    margin: auto;
}

